{%extends 'base.html'%}
{%block body%}

<nav class="navbar navbar-expand-md bg-light navbar-light">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static',filename='cme.jpg') }}" width="35" height="35" class="d-inline-block align-top" alt="#">
      College of Military Engineering,Pune
    </a>

    <ul class="navbar-nav ml-auto">
       <li class="nav-item">
           <a class="nav-link" href="{{url_for('index')}}">
             Students
           </a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="{{url_for('lecture_reg')}}">
             Lectures
           </a>
       </li>
       <li class="nav-item">
          <a class="nav-link" href="{{url_for('class_reg')}}">
            Classes
          </a>
      </li>
       <li class="nav-item">
           <a class="nav-link font-weight-bold text-dark" href="{{url_for('attendance_records')}}">
             Attendance
           </a>
       </li>
       <li class="nav-item">
            <a class="nav-link" href="{{url_for('test')}}">
              Live System
            </a>
        </li>
       
   </ul>
  </nav>
 

<script>
var $filterableRows = $('table').find('tr').not(':first'),
		$inputs = $('.search-key');

$inputs.on('input', function() {

	$filterableRows.hide().filter(function() {
  	return $(this).find('td').filter(function() {
    	
      var tdText = $(this).text().toLowerCase(),
      		inputValue = $('#' + $(this).data('input')).val().toLowerCase();
    
    	return tdText.indexOf(inputValue) != -1;
    
    }).length == $(this).find('td').length;
  }).show();

});
</script>


<div class="container mt-4">
<div class="row">
        <div class="col-md-4"><h2>Attendance</h2></div>
        
        
    </div>
  <div class="row mt-4">
   <!--<div class="panel panel-primary filterable">-->
   
       <table class="table table-hover justify-content-center table-dark" style="border-collapse: collapse;" id="table">
      <thead>
            <tr>

                <th class="text-center" style="position: sticky;top: 0;">Student ID</th>
                <th style="position: sticky;top: 0;">Course</th>
                <th style="position: sticky;top: 0;">Date</th>
                <th style="position: sticky;top: 0;">Lecture Number</th>
        
                <!-- <th style="position: sticky;top: 0;">Stream</th> -->
              
                <th class="text-center" style="position: sticky;top: 0;">Attendance</th>
                <th class="text-center" style="position: sticky;top: 0;">Edit</th>


            </tr>
            </thead>
        {% for row in record %}
        <tbody>
        <tr>
           
               <td class="text-center">{{ row.id_a }}</a></td>
		<td >{{ row.name_a }}</td>
		<td>{{ row.date }}</td>
		<td class="text-center">{{ row.lecture_no }}</td>
		<td class="text-center">{{ row.attend }}</td>
		 <td class="text-center">
		<a href="/update_attendance/{{row.primkey}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.primkey}}">Edit</a>
		
		</td>
        
        </tr>
        
        </tbody>
        <div id="modaledit{{row.primkey}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                   <div class="modal-content">
                      <div class="modal-header">
                         <h4 class="modal-title">Update Information</h4>
                      </div>
              
              
                      <div class="modal-body">

                         <form action="{{url_for('update_attendance')}}" method="POST">


                          
                        <div class="form-group">
                          <label>Attendance</label>
                          <input type="hidden"  name="id" value="{{row.primkey}}">
                          
                          <label for="sel_course">Attendance:</label>
                          <select class="form-control" name="value_attend" value="{{row.attend}}">
                            <option type="text">True</option>
                            
                            <option type="text">False</option>
                            
                      
                         </select>
                        </div>
                            

                     
              
                        <div class="form-group">
                           <button class="btn btn-primary" type="submit">Update</button>
                        </div>
              
              
                         </form>
                      </div>
              
              
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     </div>

                   </div>
                </div>
              
             </div>
        
        
      
        
        
        
        
        
        
       
       {% endfor %}
          
       
       
        
  
       
       
       
       
       
      </table>
    </div>
 
</div>
 <script src='/static/tablefilter.js'></script>

<script>
var filtersConfig = {
  // instruct TableFilter location to import ressources from
  base_path: '/static/tablefilter/',
  col_1: 'select',
  
  col_3: 'select',
  col_4:  'select',
  col_5: 'select',
  alternate_rows: false,
  rows_counter: false,
  btn_reset: false,
  loader: true,
  mark_active_columns: true,
  highlight_keywords: true,
  no_results_message: true,
  
  col_types: [
    'string', 'string', { type: 'date', locale: 'en-GB', format: ['{yyyy|yy}-{MM}-{dd}'] },
    'string', 'number'
  ],
  
  col_widths: [
    '150px', '100px', '100px',
    '70px', '100px', '70px',
    '70px', '60px', '60px'
  ],
  themes: [{ name: 'transparent' }],
  extensions: [{
    name: 'sort',
    images_path: '/static/tablefilter/dist/tablefilter/style/themes/'
  }]
};

var tf = new TableFilter('table', filtersConfig);
tf.init();
</script>
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
<script src="/static/jquery.min.js"></script>


<script>
doIt.onclick = () => {

  var startDate = dateStart.value,
        endDate = dateEnd.value;
  sortThroughTable(startDate, endDate)
 
};

function sortThroughTable(start, end) {
  Array.apply(0, attendance_table.rows).forEach(x => {
    var cells = Array.apply(0, x.cells);
    var secondCell = cells[1].innerText;
    var isHidden = shouldItBeHidden(
      secondCell,
      start, end
    );
    if(isHidden) {
      x.style.display = "none"
    } else if(x.style.display == "none")
      x.style.display = "";
  })
  
  function shouldItBeHidden(
    cellTxt,
    start,
    end
  ) {
    var parsedCell = myParse(cellTxt),
        parsedStart = myParse(start),
        parsedEnd = myParse(end);
    return !(
    //here's where the real logic is
      parsedCell ? 
        (parsedStart && parsedEnd) ?
          isDateGreaterOrEqual(parsedCell, parsedStart) &&
          isDateGreaterOrEqual(parsedEnd, parsedCell)
        : 
          parsedStart &&
            cellTxt == start
      : false
      
    )
    </script>


         <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>
</head>
<body>



               
<button class="open-button" onclick="openForm()">Export attendance </button>

<div class="form-popup" id="myForm">
  <form action="{{ url_for("excel")}}" class="form-container" method="post">
    <h1>Export to CSV</h1>

    <label for="start">Start date:</label>

<input type="date" id="start" name="start"
       
       min="2018-01-01" max="2050-12-31">
       
<label for="start">End date:</label>

<input type="date" id="end" name="end"
       
       min="2018-01-01" max="2050-12-31">
       
<label for="course">Choose course:</label>
  <select id="course" name="course">
    {% for o in nRecord %}
              <option value="{{ o.name_a }}">{{ o.name_a }}</option>
              {% endfor %}  
  </select>    
  
<label for="lec_no">Choose lecture number:</label>
  <select id="lec_no" name="lec_no">
    {% for o1 in nRecord1 %}
              <option value="{{ o1.lecture_no }}">{{ o1.lecture_no }}</option>
              {% endfor %}  
  </select>     

    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
   
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>

</body>


{%endblock%}
